/* Need to change colors? Do it here, these are the main colors that are used all over the website */
:root {
    --white: #fff;
    --black: #000;
    --primary: #4E44CE;
    --error: #D92D20;
    --main-bg-color: #0E0E0E;
    --alt-bg-color: #202020;
    --wallet-btn-color: var(--black);
    --wallet-btn-color-hover: var(--black);
    --wallet-btn-bg-color: var(--white);
    --wallet-btn-bg-color-hover: var(--white);
    --list-btn-color: var(--white);
    --list-btn-color-hover: var(--white);
    --list-btn-bg-color: var(--primary);
    --list-btn-bg-color-hover: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Plus Jakarta Sans', 'Calibri', sans-serif;
    font-size: 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    color: var(--white);
}
main {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.w-100 {
    width: 100%;
}

/* Modal that opens when the 'Connect Wallet' button is clicked styling */
.wallet-adapter-modal-wrapper {
    background-color: var(--alt-bg-color) !important;
}
.wallet-adapter-modal-title {
    color: var(--white) !important;
}
/* Connect Wallet button */
:not(li) > .wallet-adapter-button {
    background-color: var(--wallet-btn-bg-color);
    color: var(--wallet-btn-color);
    transition: opacity .2s;
}
:not(li) > .wallet-adapter-button:hover {
    color: var(--wallet-btn-color-hover);
    opacity: .9;
}
/* Top one */
ul:first-of-type .wallet-adapter-button:hover {
    background-color: var(--wallet-btn-bg-color-hover) !important;
}
/* Wallet list entries */
li > .wallet-adapter-button {
    background-color: var(--list-btn-bg-color) !important;
    color: var(--list-btn-color) !important;
    opacity: 1 !important;
    transition: .2s !important;
}
li > .wallet-adapter-button:hover {
    background-color: var(--list-btn-bg-color-hover) !important;
    color: var(--list-btn-color) !important;
    opacity: .9 !important;
}
.wallet-adapter-modal-list {
    margin: 0 0 4px !important;
}
