/* Need to change colors? Do it here, these are the main colors that are used all over the website. */
/* Backgrounds can be any CSS background style. Don't need to be background-colors. */
:root {
    --white: #fff;
    --black: #000;
    --light-grey: #f9fcff;
    --ocean-blue: #3E448E;
    --primary: #4E44CE;
    --error: #D92D20;
    --accent-color: #800080;
    --accent-color-trans: #80008033;
    --page-background: #300030;
    --page-fg-color: var(--white);
    --main-bg: #0E0E0E;
    --alt-bg: #202020;
    --selection-fg: var(--black);
    --selection-bg: var(--white);
    --svg-opacity-hover: .8;
    --wallet-btn-color: var(--white);
    --wallet-btn-bg: var(--accent-color);
    --wallet-btn-opacity: .9;
    --wallet-btn-color-hover: #50103c;
    --wallet-btn-bg-hover: #A7A2E6;
    --wallet-btn-hover-opacity: 1;
    --wallet-list-btn-color: var(--white);
    --wallet-list-btn-color-hover: var(--white);
    --wallet-list-btn-bg: none;
    --wallet-list-btn-bg-hover: var(--wallet-btn-bg);
    --wallet-dropdown-list-bg: var(--alt-bg);
    --wallet-dropdown-list-item-color: none;
    --wallet-dropdown-list-item-bg: tramsparent;
    --wallet-dropdown-list-item-hover-color: var(--black); /* Aero theme */
    --wallet-dropdown-list-item-hover-bg: var(--wallet-btn-bg-hover); /* Aero theme */
/*    --wallet-dropdown-list-item-hover-color: var(--white); /* Dark theme */
/*    --wallet-dropdown-list-item-hover-bg: var(--black); /* Dark theme */
/*    --wallet-dropdown-list-item-hover-bg: var(--ocean-blue); /* Ocean theme */
    --image-url: url(https://bafybeidt3npna22eu2h7kewf6je7igtkddbdpdu4w737rhdfhy2rsmx5ze.ipfs.w3s.link/vy3stib90QUIZFoPhxGJ--2--2v1v3_2x.jpg);
/*
    --image-url: url(https://bafybeiedd5g6nkmftwkzy5jlq3zcisj3jt64kwmxjoepgp3xyxln6zoveu.ipfs.w3s.link/mq7l8fcg0te6M9L8Zqeo--3--dho30_2x.jpg);
*/
}

/* --< text selection >-- */
*::selection,
a::selection,
button::selection, input::selection {
    background-color: var(--selection-bg);
    color: var(--selection-fg);
}

body {
    background: var(--page-background);
    color: var(--page-fg-color);
    font-family: 'Plus Jakarta Sans', 'Calibri', sans-serif;
    font-size: 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h2, h3, h4, h5, h6 {
    cursor: default;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.w-100 {
    width: 100%;
}

/* NFT image container div */
.image-wrap {
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  background-size: cover;
  background-image: var(--image-url);
}

a > svg {
/*
    border-radius: 30%;
    transition: box-shadow .2s;
*/
}

a:hover > svg {
/*
    background: var(--accent-color-trans);
    box-shadow: 0 0 10px 3px var(--accent-color-trans);
*/
    opacity: var(--svg-opacity-hover);
}

/* Modal that opens when the 'Connect Wallet' button is clicked styling */
.wallet-adapter-modal-wrapper {
    background: var(--alt-bg) !important;
}
.wallet-adapter-modal-title {
    color: var(--white) !important;
}

/* Connect Wallet button */
:not(li) > .wallet-adapter-button {
    background: var(--wallet-btn-bg);
    color: var(--wallet-btn-color);
    transition: background .2s, color .2s, opacity .2s;
}
:not(li) > .wallet-adapter-button:hover {
    color: var(--wallet-btn-color-hover);
}

/* Top one */
:not(.wallet-adapter-modal-wrapper) > ul:first-of-type .wallet-adapter-button {
    opacity: var(--wallet-btn-opacity);
}
:not(.wallet-adapter-modal-wrapper) > ul:first-of-type .wallet-adapter-button:hover {
    background: var(--wallet-btn-bg-hover) !important;
    opacity: var(--wallet-btn-hover-opacity);
}

/* Wallet list entries */
li > .wallet-adapter-button {
    background: var(--wallet-list-btn-bg) !important;
    color: var(--wallet-list-btn-color) !important;
    opacity: 1 !important;
    transition: .2s !important;
}
li > .wallet-adapter-button:hover {
    background: var(--wallet-list-btn-bg-hover) !important;
    color: var(--wallet-list-btn-color) !important;
    opacity: .9 !important;
}
.wallet-adapter-modal-list {
    margin: 0 0 4px !important;
}
.wallet-adapter-dropdown-list {
    background: var(--wallet-dropdown-list-bg) !important;
}

.wallet-adapter-dropdown-list-item {
    background: var(--wallet-dropdown-list-item-bg) !important;
    color: var(--wallet-dropdown-list-item-color) !important;
    letter-spacing: 1px;
    word-spacing: 2px;
    min-width: 8vw;
    transition: color .2s, background .2s, opacity .4s;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
    background: var(--wallet-dropdown-list-item-hover-bg) !important;
    color: var(--wallet-dropdown-list-item-hover-color) !important;
    opacity: .9;
}
