/* Need to change colors? Do it here, these are the main colors that are used all over the website */
:root {
    --white: #fff;
    --black: #000;
    --primary: #4E44CE;
    --error: #D92D20;
    --main-background-color: #0E0E0E;
    --alt-background-color: #202020;
    --connect-wallet-color: var(--black);
    --connect-wallet-color-hover: var(--black);
    --connect-wallet-background-color: var(--white);
    --connect-wallet-background-color-hover: var(--white);
    --btn-color: var(--white);
    --btn-color-hover: var(--white);
    --btn-background-color: transparent;
    --btn-background-color-hover: var(--main-background-color);
}

/* Font: Plus Jakarta Sans is being loaded here from Google Fonts and is used all over the website */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');

body {
    background-color: var(--main-background-color);
    font-family: 'Plus Jakarta Sans', 'Calibri', sans-serif;
    font-size: 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    color: var(--white);
}
main {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.w-100 {
    width: 100%;
}

/* Modal that opens when the 'Connect Wallet' button is clicked styling */
.wallet-adapter-modal-wrapper {
    background-color: var(--alt-background-color) !important;
}
.wallet-adapter-modal-title {
    color: var(--white) !important;
}
/* Connect Wallet button */
:not(li) > .wallet-adapter-button {
    background-color: var(--connect-wallet-background-color) !important;
    color: var(--connect-wallet-color) !important;
    transition: opacity .2s !important;
}
:not(li) > .wallet-adapter-button:hover {
    background-color: var(--connect-wallet-background-color-hover) !important;
    color: var(--connect-wallet-color-hover) !important;
    opacity: .9 !important;
}
/* Wallet list entries */
li > .wallet-adapter-button {
    background-color: var(--btn-background-color) !important;
    color: var(--btn-color) !important;
    opacity: 1 !important;
    transition: .2s !important;
}
li > .wallet-adapter-button:hover {
    background-color: var(--btn-background-color-hover) !important;
    color: var(--btn-color) !important;
    opacity: .9 !important;
}
.wallet-adapter-modal-list {
    margin: 0 0 4px !important;
}
